@import "tailwindcss";

/* KRDS 폰트 로드 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/notosanskr/v27/PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.woff2') format('woff2');
}

/* KRDS 기본 스타일 */
* {
  border-color: theme(colors.gray.200);
}

body {
  background-color: theme(colors.white);
  color: theme(colors.gray.900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* KRDS 기본 컴포넌트 스타일은 여기에 추가됩니다 */
